node_modules
dist
*.local
public/tesseract/
public/tesseract-core/
public/tessdata/
backend/vendor
backend/.env
backend/node_modules
backend/storage/*.key
backend/.phpunit.cache
backend/.phpunit.result.cache

